symphony/shared/perf/conf/dataloader/dataloader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<xs:element name="DataLoader">
		<xs:annotation>
			<xs:documentation>The DataLoader root</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="Properties" minOccurs="0" maxOccurs="unbounded">
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Property" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Name" type="xs:string"/>
										<xs:choice>
											<xs:element name="Value" type="xs:string"/>
											<xs:element ref="List"/>
											<xs:element ref="Set"/>
											<xs:element ref="Map"/>
										</xs:choice>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
					</xs:complexType>
				</xs:element>
				<xs:element name="Description" type="xs:string" minOccurs="0"/>
				<xs:element name="Reader">
					<xs:annotation>
						<xs:documentation>
							The plug-in Reader
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
							<xs:element name="Properties" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Property" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name" type="xs:string"/>
													<xs:choice>
														<xs:element name="Value" type="xs:string"/>
														<xs:element ref="List"/>
														<xs:element ref="Set"/>
														<xs:element ref="Map"/>
													</xs:choice>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							<xs:element name="Groups" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Group" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:enumeration value="preRead"/>
																<xs:enumeration value="hasMore"/>
																<xs:enumeration value="readRecords"/>
																<xs:enumeration value="postRead"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
													<xs:element name="Value">
														<xs:simpleType>
															<xs:restriction base="xs:string">
																<xs:minLength value="1"/>
															</xs:restriction>
														</xs:simpleType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
						</xs:sequence>
						<xs:attribute name="Class">
							<xs:annotation>
								<xs:documentation>
									The name of Reader implements
								</xs:documentation>
							</xs:annotation>
						</xs:attribute>
					</xs:complexType>
				</xs:element>
				<xs:element name="Writer">
					<xs:annotation>
						<xs:documentation>
							The common writer modle
						</xs:documentation>
					</xs:annotation>
					<xs:complexType>
						<xs:sequence>
                            <xs:element name="Properties" minOccurs="0" maxOccurs="unbounded">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Property" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Name" type="xs:string" />
													<xs:choice>
														<xs:element name="Value" type="xs:string" />
														<xs:element ref="List" />
														<xs:element ref="Set" />
														<xs:element ref="Map" />
													</xs:choice>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
                            <xs:element name="DataSource"
								type="xs:string" minOccurs="0" maxOccurs="1">
								<xs:annotation>
									<xs:documentation>
										The DataSource name
									</xs:documentation>
								</xs:annotation>
							</xs:element>
							<xs:element name="SQL"
								maxOccurs="unbounded" minOccurs="0">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Statement">
											<xs:annotation>
												<xs:documentation>
													The insert sql
													statement
												</xs:documentation>
											</xs:annotation>
										</xs:element>
										<xs:element name="Field"
											maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute
													name="Name" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation>
															The key of
															input
															hashmap
														</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute
													name="Column" type="xs:string" use="required">
													<xs:annotation>
														<xs:documentation>
															The column
															name of
															table
														</xs:documentation>
													</xs:annotation>
												</xs:attribute>
												<xs:attribute
													name="Type" type="xs:string" use="optional" />
												<xs:attribute
													name="MaxLength" type="xs:integer" use="optional" />
											</xs:complexType>
										</xs:element>
										<xs:element name="PK" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute
													name="Name" type="xs:string" use="required">
												</xs:attribute>
											</xs:complexType>
										</xs:element>
										<xs:element name="Extra" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:attribute
													name="Name" type="xs:string" use="required">
												</xs:attribute>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
									<xs:attribute name="Input">
										<xs:annotation>
											<xs:documentation>
												The key of input
												hashmap. This is
												optional only for has
												multi sql statement
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
									<xs:attribute name="Update"
										type="xs:string">
										<xs:annotation>
											<xs:documentation>
												the key is used figure
												out insert model or
												update model
											</xs:documentation>
										</xs:annotation>
									</xs:attribute>
								</xs:complexType>
							</xs:element>
							<xs:element name="Mappings" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Tables" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Table" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:attribute name="Name" type="xs:string" use="required" />
															<xs:attribute name="Mapping" type="xs:string" use="required" />
															<xs:attribute name="Operation" type="xs:string" use="optional" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
										<xs:element name="Columns" minOccurs="0" maxOccurs="1">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Column" minOccurs="0" maxOccurs="unbounded">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Field" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="Name" type="xs:string" use="required" />
																		<xs:attribute name="Mapping" type="xs:string" use="required" />
																	</xs:complexType>
																</xs:element>
															</xs:sequence>	
															<xs:attribute name="Key" type= "xs:string" />
														</xs:complexType>
													</xs:element>
												</xs:sequence>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							
							<xs:element name="Dependencies" minOccurs="0" maxOccurs="1">
								<xs:complexType>
									<xs:sequence>
										<xs:element name="Dependency" minOccurs="0" maxOccurs="unbounded">
											<xs:complexType>
												<xs:sequence>
													<xs:element name="Keys" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Key" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="Name" type="xs:string" use="required" />
																	</xs:complexType>
																</xs:element>
															</xs:sequence>												
														</xs:complexType>
													</xs:element>
													<xs:element name="Values" minOccurs="0" maxOccurs="1">
														<xs:complexType>
															<xs:sequence>
																<xs:element name="Value" minOccurs="0" maxOccurs="unbounded">
																	<xs:complexType>
																		<xs:attribute name="Name" type="xs:string" use="required" />
																	</xs:complexType>
																</xs:element>
															</xs:sequence>												
														</xs:complexType>
													</xs:element>
												</xs:sequence>
												<xs:attribute name="Name" type= "xs:string"  use="required"/>
												<xs:attribute name="Class" type= "xs:string"  use="optional"/>
											</xs:complexType>
										</xs:element>
									</xs:sequence>
								</xs:complexType>
							</xs:element>
							
						</xs:sequence>
						<xs:attribute name="Type">
							<xs:simpleType>
								<xs:restriction base="xs:string">
									<xs:enumeration value="JDBC" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="BatchSize" use="optional">
							<xs:annotation>
								<xs:documentation>
									The batch size for connection to
									commit
								</xs:documentation>
							</xs:annotation>
							<xs:simpleType>
								<xs:restriction base="xs:integer">
									<xs:minInclusive value="1" />
									<xs:maxInclusive value="10000" />
								</xs:restriction>
							</xs:simpleType>
						</xs:attribute>
						<xs:attribute name="EnableRecover"
							type="xs:string" />
						<xs:attribute name="Class"
							type="xs:string">
						</xs:attribute>
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:element name="List" type="ListType"/>
	<xs:complexType name="ListType">
		<xs:sequence>
			<xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Set" type="SetType"/>
	<xs:complexType name="SetType">
		<xs:sequence>
			<xs:element name="Value" type="xs:string" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Map" type="MapType"/>
	<xs:complexType name="MapType">
		<xs:sequence>
			<xs:element name="Entry" type="MapEntryType" minOccurs="0" maxOccurs="unbounded"/>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="MapEntryType">
		<xs:sequence>
			<xs:element name="Key" type="xs:string"/>
			<xs:element name="Value" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
</xs:schema>
