symphony/shared/gui/conf/reportProperties/resources.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- edited with XMLSpy v2006 U (http://www.altova.com) by sxu (EMBRACE) -->
<!--W3C Schema generated by XMLSpy v2006 U (http://www.altova.com)-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:hpcportal="http://www.platform.com/2008/hpcportal/schema" targetNamespace="http://www.platform.com/2008/hpcportal/schema" elementFormDefault="qualified">
	<xs:element name="resource">
		<xs:complexType mixed="true">
			<xs:attribute name="name" use="required">
				<xs:simpleType>
					<xs:restriction base="xs:string"/>
				</xs:simpleType>
			</xs:attribute>
		</xs:complexType>
	</xs:element>
	<xs:element name="resources">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="hpcportal:resource" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
</xs:schema>
