symphony/shared/gui/conf/editor/md.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    xmlns:ego="http://www.platform.com/ego/2005/05/schema"
    targetNamespace="http://www.platform.com/ego/2005/05/schema" elementFormDefault="qualified">
    
    <!-- Some simple type elements used throughout the schema and WSDL files --> 
    
    <xsd:simpleType name="proportionType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="absolute"/>
            <xsd:enumeration value="percentage"/>
            <xsd:enumeration value="remaining"/>
        </xsd:restriction>
    </xsd:simpleType> 

    <xsd:simpleType name="hostSelectType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="NumHosts"/>
            <xsd:enumeration value="HostList"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ratioType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="ratio"/>
        </xsd:restriction>
    </xsd:simpleType> 
    
    <xsd:simpleType name="resourceType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="dimension"/>
        </xsd:restriction>
    </xsd:simpleType>  
     
    <xsd:simpleType name="ResourceGroupName">
        <xsd:annotation>
            <xsd:documentation>
                An identifier that uniquely identifies a Scheduler Plugin. 
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string"/>
    </xsd:simpleType>  
    
    <xsd:element name="Scheduler" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>
                The name of MDS scheduling
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
    
    <xsd:element name="DistributionTreeName" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>
                The name associated with a Distribution Tree.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element>
   
    <xsd:element name="DefaultRank" type="xsd:integer">
        <xsd:annotation>
            <xsd:documentation>
                An element used to indicate default priority of a Consumer relative
                to other Consumers in the Resource Distribution Tree.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element> 
   
    <xsd:element name="Rank" type="xsd:integer">
        <xsd:annotation>
            <xsd:documentation>
                An element used to indicate priority of a Consumer relative
                to other Consumers in the Resource Distribution Tree.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element> 
    
    <xsd:element name="ConsumerName" type="xsd:string">
        <xsd:annotation>
            <xsd:documentation>
                The name assigned to a specific consumer without specifying 
                its place in the distribution tree hierarchy.
            </xsd:documentation>
        </xsd:annotation>
    </xsd:element> 
    
    <xsd:element name="ResourceGroupName">
        <xsd:annotation>
            <xsd:documentation>
                Identifies a particular resource group within the EGO cluster.
                Specify a unique name of up to 120 alphanumeric characters, including underscores and dashes.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="PreferenceLevel" type="xsd:string"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>  
    
    <xsd:element name="NumHosts">
        <xsd:annotation>
            <xsd:documentation>
                Identifies a particular resource group within the EGO cluster.
                Specify a unique name of up to 120 alphanumeric characters, including underscores and dashes.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:integer">
                    <xsd:attribute name="Type" type="ego:proportionType" use="required"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>  
    
    <xsd:element name="Shares">
        <xsd:annotation>
            <xsd:documentation>
                This element represents how much share of the resources 
                a consumer gets with respect to other consumers with 
                which it is a peer (i.e. on the same level of the consumer
                tree). Amongst all the peers at one level of the tree, 
                the Shares values represent a ratio of relative priority
                or a percentage of the resources to be assigned. 
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:integer">
                    <xsd:attribute name="Type" type="ego:ratioType"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element> 
    
    <xsd:element name="PolicyParameter">
        <xsd:annotation>
            <xsd:documentation>
                Defines a parameter for tuning the behaviour of the distribution engine.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="ParameterName" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element> 
    
    <xsd:element name="Resource">
        <xsd:annotation>
            <xsd:documentation>
                Defines a parameter for tuning the behaviour of the distribution engine.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:double">
                    <xsd:attribute name="Name" type="xsd:string" use="required"/>
                    <xsd:attribute name="Type" type="ego:proportionType" use="required"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>  
    
    <xsd:simpleType name="weekDay">
        <xsd:annotation>
            <xsd:documentation>
                This type represents the day of the week as an integer.
                The week starts on Sunday, with a value of 1.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="7"/>
        </xsd:restriction>
    </xsd:simpleType> 

    <xsd:simpleType name="dayTime">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}:[0-9]{2}"/>
        </xsd:restriction>
    </xsd:simpleType>
    
    <xsd:attributeGroup name="TimeWindowAttributes">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:attribute name="startDay" type="ego:weekDay"/>
        <xsd:attribute name="startTime" type="ego:dayTime"/>
        <xsd:attribute name="endDay" type="ego:weekDay"/>
        <xsd:attribute name="endTime" type="ego:dayTime"/>        
    </xsd:attributeGroup> 
    
    <xsd:element name="ConsumableResource">
        <xsd:annotation>
            <xsd:documentation>
                Consumable resource
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="OverCommitRatio" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element> 
    
    <xsd:element name="ConsumableResources">
        <xsd:annotation>
            <xsd:documentation>
                 Consumable resources 
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType mixed="true">
            <xsd:sequence>
                <xsd:element ref="ego:ConsumableResource" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element> 
    
    <xsd:element name="OverCommitRatioValue">
        <xsd:annotation>
            <xsd:documentation>
                Overcommit ratio value
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:simpleContent>
                <xsd:extension base="xsd:string">
                    <xsd:attribute name="ConsumableResourceName" type="xsd:string" use="required"/>
                </xsd:extension>
            </xsd:simpleContent>
        </xsd:complexType>
    </xsd:element>  

    <xsd:element name="OverCommitRatiosForGroup">
        <xsd:annotation>
            <xsd:documentation>
                 Overcommit ratios for group
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ego:OverCommitRatioValue" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="groupName" type="xsd:string" use="required"/>
        </xsd:complexType>
    </xsd:element> 

    <xsd:element name="Dimension">
        <xsd:annotation>
            <xsd:documentation>
                 Define resource dimension
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ego:Resource" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
    
    <xsd:complexType name="StaticHostList">
        <xsd:annotation>
            <xsd:documentation>
                A list of resource plugins by name.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Host" type="xsd:string" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>  
    
    <xsd:element name="HostSelection">
        <xsd:annotation>
            <xsd:documentation>
                 Define resource dimension
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element ref="ego:NumHosts"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="HostList" type="ego:StaticHostList"/>
                </xsd:sequence>
            </xsd:choice>
          </xsd:sequence>
          <xsd:attribute name="Type" type="ego:hostSelectType" use="required"/>
          <xsd:attribute name="ResReq" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element> 
   
    <xsd:element name="Reserve">
        <xsd:annotation>
            <xsd:documentation>
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:choice>
                <xsd:sequence>
                    <xsd:element ref="ego:NumHosts"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="PerHost" type="ego:DimensionWrapper"/>
                </xsd:sequence>
                <xsd:sequence>
                    <xsd:element name="PerGroup" type="ego:DimensionWrapper"/>
                </xsd:sequence>
            </xsd:choice>
          </xsd:sequence>
        </xsd:complexType>
    </xsd:element>
      
    <xsd:element name="Lendout">
        <xsd:annotation>
            <xsd:documentation>
                 Define resource dimension
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ego:Reserve" minOccurs="0"/>
            </xsd:sequence>
           <xsd:attribute name="GracePeriod" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>  
    
    <xsd:complexType name="DimensionWrapper">
        <xsd:annotation>
            <xsd:documentation>
                A list of resource plugins by name.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
            <xsd:element ref="ego:Dimension"/>
        </xsd:sequence>
        <xsd:attribute name="Type" type="ego:resourceType" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="RuntimeHost">
        <xsd:annotation>
            <xsd:documentation>
                A list of resource plugins by name.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element ref="ego:Dimension"/>
        </xsd:sequence>
        <xsd:attribute name="Name" type="xsd:string" use="required"/>
    </xsd:complexType>   
    
    <xsd:complexType name="RuntimeHostList">
        <xsd:annotation>
            <xsd:documentation>
                A list of resource plugins by name.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="Host" type="ego:RuntimeHost" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>  

    <xsd:complexType name="StaticResourceGroup">
        <xsd:annotation>
            <xsd:documentation>
                A list of resource plugins by name.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:choice>
              <xsd:sequence>
                  <xsd:element name="PerHost" type="ego:DimensionWrapper"/>
              </xsd:sequence>
              <xsd:sequence>
                  <xsd:element ref="ego:HostSelection"/>
              </xsd:sequence>
              <xsd:sequence>
                  <xsd:element name="PerGroup" type="ego:DimensionWrapper"/>
              </xsd:sequence>
          </xsd:choice>
          <xsd:element ref="ego:Lendout" minOccurs="0"/>
        </xsd:sequence>
        <xsd:attribute name="Name" type="xsd:string" use="required"/>
        <xsd:attribute name="PreferenceLevel" type="xsd:string"/>
        <xsd:attribute name="GetFreeFromNextLevelBeforeReclaim" type="xsd:string"/>
    </xsd:complexType> 
    
    <xsd:complexType name="RuntimeResourceGroup">
        <xsd:annotation>
            <xsd:documentation>
                A list of resource plugins by name.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:sequence>
          <xsd:element name="HostList" type="ego:RuntimeHostList" minOccurs="0"/>
          <xsd:element ref="ego:Dimension"/>
        </xsd:sequence>
        <xsd:attribute name="ResourceGroupName" type="xsd:string" use="required"/>
    </xsd:complexType>

    <xsd:element name="OwnedInConf">
        <xsd:annotation>
            <xsd:documentation>
                 PrivatePoolInUse
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ResourceGroup" type="ego:RuntimeResourceGroup" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element>    
    
    <xsd:element name="SharingPolicy">
        <xsd:annotation>
            <xsd:documentation>
                This element is used to constrain which resources a 
                particular consumer can allocate, or which ones are "owned"
                by the consumer. If no ResourceGroupName is specified, then
                the UsageLimit applies to all the resources
                under the control of EGO. If no UsageLimit
                element is present, then the constraint is on which named
                resources can be part of this consumer's allocations.
                The optional attributes 'startDay', 'startTime', 'endDay' 
                and 'endTime' can be used to represent a "time window" when
                this policy is in effect within the configuration. If the 
                time window is specified, the startTime and endTime attributes
                follow the semantics defined at http://www.w3.org/TR/xmlschema-2/#time.
                If no time zone is specified in startTime or endTime, then the 
                time will be considered as local to the vemkd.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ego:Shares"/>
                <xsd:element name="Limit" type="ego:DimensionWrapper" minOccurs="0"/>
            </xsd:sequence>
          <xsd:attribute name="Priority" type="xsd:string"/> 
          <xsd:attribute name="EnforceSiblingShareReclaim" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element> 
    
    <xsd:element name="OwnershipPolicy">
        <xsd:annotation>
            <xsd:documentation></xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="ResourceGroup" type="ego:StaticResourceGroup" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:attribute name="PrivatePoolGracePeriod" type="xsd:string"/> 
        </xsd:complexType>
    </xsd:element> 
    
    <xsd:element name="DistributionPolicies">
        <xsd:annotation>
            <xsd:documentation>
                This element is used to describe the configuration of 
                the EGO distribution policies for a given consumer in
                a particular resource distribution tree.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ego:DefaultRank" minOccurs="0"/>
                <xsd:element ref="ego:Rank" minOccurs="0"/>
                <xsd:element ref="ego:SharingPolicy" minOccurs="0"/>
                <xsd:element ref="ego:OwnershipPolicy" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attributeGroup ref="ego:TimeWindowAttributes"/>
        </xsd:complexType>
    </xsd:element> 
    
    <xsd:element name="DistributionProperties">
        <xsd:annotation>
            <xsd:documentation>
                This element describes some of the run time parameters of
                the allocation algorithm associated with a particular node
                of a DistributionTree.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ego:OwnedInConf"/>
                <xsd:element name="PrivatePoolInUse" type="ego:DimensionWrapper"/>
                <xsd:element name="PrivatePoolFree" type="ego:DimensionWrapper"/> 
                <xsd:element name="OwnedInUse" type="ego:DimensionWrapper"/>
                <xsd:element name="OwnedFree" type="ego:DimensionWrapper"/> 
                <xsd:element name="StaticShareReserved" type="ego:DimensionWrapper"/>
                <xsd:element name="ShareReserved" type="ego:DimensionWrapper"/> 
                <xsd:element name="Lent" type="ego:DimensionWrapper"/>
                <xsd:element name="ShareInUse" type="ego:DimensionWrapper"/> 
                <xsd:element name="ShareFree" type="ego:DimensionWrapper"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element> 

    <xsd:element name="Consumer">
        <xsd:annotation>
            <xsd:documentation>
                This element describes a node within the ConsumerHierarchy. 
                or within a DistributionTree. It is used either to express
                meta-data about a particular node in the ConsumerHierarchy,
                or is used to associate a particular set of distribution 
                policies between consumers and resources. ConsumerName is a
                required attribute used to identify this consumer within
                the tree. The ConsumerName is not the full ConsumerID (i.e. 
                describing the consumer's position in the hierarchy), but 
                the component of the ConsumerID that identifies this node.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="SlotMapping" type="ego:DimensionWrapper" minOccurs="0"/>
            <xsd:element ref="ego:DistributionPolicies" maxOccurs="unbounded"/>
            <xsd:element ref="ego:DistributionProperties" minOccurs="0"/>
            <xsd:element ref="ego:Consumer" minOccurs="0" maxOccurs="unbounded"/>
          </xsd:sequence>
          <xsd:attribute name="ConsumerName" type="xsd:string" use="required"/>
          <xsd:attribute name="RevisionVersion" type="xsd:string"/>
          <xsd:attribute name="Exclusive" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element> 
    
    <xsd:element name="DistributionTree">
        <xsd:annotation>
            <xsd:documentation>
                This is the root element for a resource distribution tree. 
                There is at least one ResourceGroupName that is used to indicate
                what set of resources this distribution tree is applied to, and
                then a tree of consumers that specify the distribution policies.
                The DistributionTree must be named with a DistributionTreeName
                attribute.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ego:ResourceGroupName" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="ego:ConsumableResources" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="ego:OverCommitRatiosForGroup" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="ego:PolicyParameter" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element name="SlotMapping" type="ego:DimensionWrapper" minOccurs="0"/>
                <xsd:element ref="ego:Consumer" minOccurs="0" maxOccurs="unbounded"/>
                <xsd:element ref="ego:DistributionProperties" minOccurs="0"/>
            </xsd:sequence>
            <xsd:attribute name="DistributionTreeName" type="xsd:ID" use="required"/>
            <xsd:attribute name="RevisionVersion" type="xsd:string"/>
        </xsd:complexType>
    </xsd:element>
     
    <xsd:element name="DistributionPolicyConfiguration">
        <xsd:annotation>
            <xsd:documentation>
                This provides a wrapper element for a configuration file
                that is used to describe the organization of consumers, and 
                the allocation policies mapping consumers to allowed resources. 
                Meta data about the configuration can be provided here, such 
                as the Version of the file format.
            </xsd:documentation>
        </xsd:annotation>
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element ref="ego:Scheduler"/>
                <xsd:element ref="ego:DistributionTree" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
    </xsd:element> 

</xsd:schema>
